# Dependencies
node_modules
.pnpm-store

# 不上传 doc-editor 的数据文件夹
packages/doc-editor/data/
packages/doc-editor/data/**

# Build output
dist
dist-ssr
*.local
.turbo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VitePress cache
packages/doc-docs/.vitepress/cache
packages/doc-docs/.vitepress/dist
.vitepress/cache

# Environment variables
.env
.env.*
!.env.example
